
<section class="leading-7 bg-yellow-500 w1-10/12 py-1 px-8 mx-14 shadow-2xl rounded-lg my-5 border-3 border-gray-800">
    <div class="max-w-6xl px-4 mx-auto border-solid lg:px-12">
        <div class="flex flex-col items-start leading-7 text-gray-900 border-0 border-gray-200 lg:items-center lg:flex-row">
            <div class="box-border flex-1 text-center border-solid sm:text-left">
                <h1 class="p-4  font-semibold leading-tight tracking-tight text-left text-black border-0 border-gray-200 sm:text-4xl">
                    <%= @category.name%>
                </h1>
            
            </div>
                <h1 class="pr-10 text-2xl font-bold">Date Created: <%= @category.created_at.strftime("%A, %B %d, %Y")%></h1>
                <%= link_to edit_category_path(@category), class:"pl-4 text-white text-3xl hover:text-green-800" do %><i class="fa fa-cog"></i><%end%>
                <%= link_to new_category_task_path(@category), class:"pl-4 text-white text-3xl hover:text-blue-800" do %><i class="fa fa-plus"></i><%end%>
            </div>
        </div>
    </div>
</section>

<% if @tasks.count == 0 %>
<div class="container max-w-md mx-auto h-full flex justify-center flex-col rounded-lg">
    <div class="relative xl:block text-center ">
        <%= link_to "Add Task now!", new_category_task_path(@category), class:"text-white text-4xl font-bold hover:text-blue-200" %>
        <%= image_tag("add-notes-animate.svg", :alt => "rss feed") %>
    </div> 
</div>

<% else %>
<div class="w-11/12 mx-auto mt-4  rounded">
    <!-- Tabs -->
    <ul id="tabs" class="inline-flex w-full px-1 pt-2 ">
        <li class="px-4 py-2 -mb-px text-2xl font-bold text-white border-b-2 border-gray-800 rounded-t opacity-30"><a id="default-tab" href="#first">Pending Tasks</a></li>
        <li class="px-4 py-2 text-2xl font-bold text-white border-b-2 border-gray-800 rounded-t opacity-30"><a href="#second">Completed Tasks</a></li>
    </ul>

    <!-- Tab Contents -->
    <div id="tab-contents">
        <div id="first" class="p-4 bg-yellow-500 bg-opacity-20 rounded-xl">
            <section class="flex flex-wrap content-start justify-center">
                <% @tasks.each do |task| %>
                <% if task.done != true %>  
                    <div class="rounded-xl transform transition duration-500 hover:scale-105 ">
                        <div class="bg-gradient-to-t from-black via-gray-800 to-gray-800 w-80 border-l-8 border-yellow-500 rounded-lg flex mx-2.5 my-2.5">
                            <div class="w-1/3 pt-6 flex justify-center text-yellow-600 text-4xl pl-4">
                                <i class="fa fa-thumbtack"></i>
                            </div>

                            <div class="w-full p-1 pl-4 h-full">
                                    <span><% if task.deadline == Date.today %>
                                        <div class = "w-16 my-1 rounded text-xs text-center text-red-400 ring ring-red-400 p-1">Due Date!</div>
                                    <% elsif task.deadline < Date.today%>
                                        <div class = "w-16 my-1 rounded text-xs text-center text-red-400 ring ring-red-400 p-1">Past Due!</div>
                                    <% else task.deadline > Date.today%>
                                        <div class = "w-20 my-1 rounded text-xs text-center text-green-400 ring ring-green-400 p-1">In Progress</div>
                                    <%end%></span>

                                <h1 class="font-bold text-white italic text-3xl"><%= task.name %></h1>
                                <p class="py-1 text-white text-xl"><%= task.description %></p>
                                <h4 class="py-1 text-sm text-white">Deadline: <%= task.deadline.strftime(" %B %d, %Y") %></h4>
                                <%= link_to category_task_path(@category.id, task.id),class:"py-4 text-white text-xl hover:text-blue-800" do %><i class="fa fa-eye"></i><%end%>
                                <%= link_to edit_category_task_path(@category.id, task.id),class:"pl-4 text-white text-xl hover:text-green-800" do %><i class="fa fa-cog"></i><%end%>
                                <%= link_to category_task_path(@category.id, task.id), method: :delete, data: {confirm: "Are you sure?" },class:"pl-4 text-white text-xl hover:text-red-800" do %><i class="fa fa-trash"></i><% end %>
                            </div>   
                        </div>
                    </div>
                <% end %> 
                <% end %> 
            </section>  
        </div>
        <div id="second" class="hidden p-4 bg-yellow-500 bg-opacity-20 rounded-xl">
            <section class="flex flex-wrap content-start justify-center">
                <% @tasks.each do |task| %>
                <% if task.done == true %>  
                    <div class="rounded-xl transform transition duration-500 hover:scale-105 ">
                        <div class="bg-gradient-to-t from-black via-gray-800 to-gray-800 w-80 border-l-8 border-yellow-500 rounded-lg flex mx-2.5 my-2.5">
                            <div class="w-1/3 pt-6 flex justify-center text-yellow-600 text-4xl pl-4">
                                <i class="fas fa-check-circle"></i>
                            </div>
                            <div class="w-full p-1 pl-4 h-full">
                                
                                <h1 class="font-bold text-white italic text-3xl"><%= task.name %></h1>
                                <p class="py-1 text-white text-xl"><%= task.description %></p>
                                <h4 class="py-1 text-sm text-white">Deadline: <%= task.deadline.strftime(" %B %d, %Y") %></h4>
                                <%= link_to category_task_path(@category.id, task.id),class:"py-4 text-white text-xl hover:text-blue-800" do %><i class="fa fa-eye"></i><%end%>
                                <%= link_to edit_category_task_path(@category.id, task.id),class:"pl-4 text-white text-xl hover:text-green-800" do %><i class="fa fa-cog"></i><%end%>
                                <%= link_to category_task_path(@category.id, task.id), method: :delete, data: {confirm: "Are you sure?" },class:"pl-4 text-white text-xl hover:text-red-800" do %><i class="fa fa-trash"></i><% end %>
                            </div>   
                        </div>
                    </div>
                <% end %> 
                <% end %> 
            </section>    
        </div>
    </div>
</div>

<script>

let tabsContainer = document.querySelector("#tabs");
let tabTogglers = tabsContainer.querySelectorAll("a");
console.log(tabTogglers);

tabTogglers.forEach(function(toggler) {
  toggler.addEventListener("click", function(e) {
    e.preventDefault();

    let tabName = this.getAttribute("href");

    let tabContents = document.querySelector("#tab-contents");

    for (let i = 0; i < tabContents.children.length; i++) {

      tabTogglers[i].parentElement.classList.remove("border-blue-400", "border-b",  "-mb-px", "opacity-100");  tabContents.children[i].classList.remove("hidden");
      if ("#" + tabContents.children[i].id === tabName) {
        continue;
      }
      tabContents.children[i].classList.add("hidden");

    }
    e.target.parentElement.classList.add("border-blue-400", "border-b-4", "-mb-px", "opacity-100");
  });
});

document.getElementById("default-tab").click();

</script>

 <% end %>






