<!DOCTYPE html>
<html>
  <head>
    <title>Organizer</title>
    <link rel="icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <style>
  #menu-toggle:checked + #menu {
          display: block;
        }
  </style>

  <header class="lg:px-16 px-6 bg-gray-800 flex flex-wrap items-center lg:py-0 py-2">
    <div class="flex-1 items-center">
     <a href="#_" class="flex justify-start mb-5 font-medium text-gray-900 lg:w-auto lg:items-center lg:justify-start md:mb-0">
        <%= link_to 'Organizer', root_path, class:"mx-auto text-3xl font-black leading-none text-yellow-500 select-none" %><span class="text-indigo-600 text-xl font-black">.</span></a>
    </div>
      <label for="menu-toggle" class="pointer-cursor lg:hidden block"><svg class="fill-current text-yellow-600" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><title>menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg></label>
      <input class="hidden" type="checkbox" id="menu-toggle" />
    <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
      <nav>
        <ul class="lg:flex items-center justify-between text-base text-gray-700 pt-4 lg:pt-0">
          <% if user_signed_in?%>
            <li><i class="fa fa-list text-yellow-500"></i><%= link_to 'Dashboard', categories_path(@category), class: "m-4 font-bold text-xl leading-6 text-white hover:text-yellow-500" %></li>
            <li><i class="fa fa-plus text-yellow-500"></i><a href="#_" ><%= link_to 'New Category', new_category_path(@category), class: "m-4 font-bold text-xl leading-6 text-white hover:text-yellow-500" %></li>
            <li><%= link_to 'Profile', edit_user_registration_path, class: "m-4 inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-yellow-500 border border-transparent rounded-md shadow-sm hover:bg-transparent focus:outline-none focus:ring-2 focus:ring-offset-2" %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "m-4 inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-yellow-500 border border-transparent rounded-md shadow-sm hover:bg-transparent focus:outline-none focus:ring-2 focus:ring-offset-2" %></li>
          <% else %>
            <li><%= link_to 'Sign In', new_user_session_path, class: "m-4 inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-yellow-500 border border-transparent rounded-md shadow-sm hover:bg-transparent focus:outline-none focus:ring-2 focus:ring-offset-2" %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path, class: "m-4 inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-yellow-500 border border-transparent rounded-md shadow-sm hover:bg-transparent focus:outline-none focus:ring-2 focus:ring-offset-2" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>

<% flash.each do |type, msg| %>
  <% if type == "notice" %>
    <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative text-center" role="alert" id="flash">
      <strong class="font-bold"><%= msg %></strong>            
    </div>
  <% else %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative text-center" role="alert" id="flash">
      <strong class="font-bold"><%= msg %></strong>           
    </div>
  <% end %> 
<% end %>

<%= yield %>

  </body>
</html>


